@{
    ViewBag.Title = "index";
}

<h2>@Html.ActionLink("Add Doctor", "AddDoctor")</h2>


<br />


<h2>
    @Html.ActionLink("Add Patient", "AddPatient")
</h2>

    <br />

<h2>
    @Html.ActionLink("Search Patient Bassed On Doctor Id", "getPatients")
    </h2>
    <br />
<h2>
    @Html.ActionLink("Search Doctor By Particular Patient Name", "ShowDoctor")
    </h2>
<br />
<h2>
    @Html.ActionLink("Display Doctors", "DisplayDoctors")
</h2>

    <body style="background-color:lightgreen; font-family:'Times New Roman';color:black">
        <form action="" method="post"></form>
    </body>
