@{
    ViewBag.Title = "Home Page";
}
<h2>@Html.ActionLink("Reserve Table", "ReserveTable", "Guest")</h2>
<h2>@Html.ActionLink("Update Bill", "UpdateBill", "Guest")</h2>
@*<h2>@Html.ActionLink("Display present guests", "DisplayPresentGuests", "Hotel")</h2>
<h2>@Html.ActionLink("Display Top 5 Bills", "DisplayTop5BillGuests", "Hotel")</h2>
<h2>@Html.ActionLink("Display least 5 Bills", "Displayleast5BillGuests", "Hotel")</h2>*@
<h2>@Html.ActionLink("Partial", "PartialView", "Hotel")</h2>

<body style="background-color:lightgray; font-family: Verdana, Arial;">
    <form action="" method="post"></form>
</body>
<style>
    body {
        background: url('../../Content/Taj Mahal hotel.jpg')
    }
</style>