@using PresentationLayer.Models
@model ViewModel
@{
    ViewBag.Title = "ReserveTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReserveTable</h2>
<form action="ReserveTable" method="post" onsubmit="return validateform(this.form)">
    <label for="gname">Guest name:</label>
    <input type="text" id="gname" name="GuestName" required /><br />
    <span id="showerror1" style="color:red;font-weight:bold"></span>
    <br />
    <br />
    <label for="person">Total  number of persons:</label>
    <input type="text" id="person" name="NumberOfPeople" required /><br />
    <br />
    <br />
    @*<label for="bill">Bill Amount:</label>
        <input type="text" id="bill" name="BillAmount" placeholder="0"/><br />
        <br />
        <br />*@

    <label>Resevation_ID:</label>
    <select name="Reservation.ReservationId">
        <option value="0" selected>select</option>
        @foreach (var reservation in Model.reservationModels)
        {
            <option value="@reservation.ReservationId">@reservation.ReservationId</option>
        }
    </select>
    <br /><br />

    <input type="submit" value="Reserve table " submit="location.href='@Url.Action("Success","Guest")'">
    <input type="button" value="Cancel" onclick="location.href='@Url.Action("Index","Home")'" />
</form>
<html>
<body style="background-color:lightgray; font-family: Verdana, Arial;">
    <form action="" method="post"></form>
</body>
</html>
@if (TempData["status"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["status"]");
            };
    </script>
}