
@using PresentationLayer.Models
@model ViewModel
@{
    ViewBag.Title = "UpdateBill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UpdateBill</h2>
<form action="UpdateBill" method="post">

    <label>GuestName:</label>
    <select name="GuestId">
        <option value="0" selected>select</option>
        @foreach (var guest in Model.guestModels)
        {
            <option value="@guest.GuestId">@guest.GuestName</option>
        }
    </select>
    <br />
    <br />
    <label for="bill">Bill Amount:</label>
    <input type="text" id="bill" name="BillAmount" placeholder="Amount" />
    <br />
    <br />
    <input type="submit" value="submit" submit="location.href='@Url.Action("BillSuccess","Guest")'">
    <input type="button" value="Cancel" onclick="location.href='@Url.Action("Index","Home")'" />
</form>
<html>
<body style="background-color:lightgray; font-family: Verdana, Arial;">
    <form action="" method="post"></form>
</body>
</html>
@if (TempData["status"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["status"]");
            };
    </script>
}