@using MedicalResearch_PresentationLayer.Models

@model ViewModel
@{
    ViewBag.Title = "AddDiseaseWithSymptom";
}
<h2>AddDiseaseWithSymptom</h2>
<form action="AddDiseaseWithSymptom" method="post" onsubmit="return validateform(this.form)">
    <label>Diseases:</label>
    <select name="DsDisease_Id.Disease_Id">
        @foreach (var disease in Model.diseasesModels)
        {
            <option value="@disease.Disease_Id">@disease.Disease_Name</option>
        }
    </select>
    <br /><br />
    <label>Symptoms:</label>
    <select name="DsSymptom_Id.Symptom_Id">
        @foreach (var symptom in Model.symptomModels)
        {
            <option value="@symptom.Symptom_Id">@symptom.Symptom_Name</option>
            <p>@TempData["status1"]</p>

        }
    </select>
    <br /><br />
    <label for="DiseaseSymptom_Description">Disease Description</label>
    <input type="text" id="DiseaseSymptom_Description" name="DiseaseSymptom_Description" required><br><br>
    <br />
    <input type="submit" value="Save" onclick="location.href='@Url.Action("SuccessSymptom","Disease")'" />
    <input type="button" value="Cancel" onclick="location.href='@Url.Action("Index","Home")'" />
</form>

<body style="background-color:lightgoldenrodyellow; font-family: Verdana, Arial;">
    <form action="" method="post"></form>
</body>
@if (TempData["message1"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["message1"]");
            };
    </script>
}
@if (TempData["message2"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["message2"]");
            };
    </script>
}
