@{
    ViewBag.Title = "Home Page";
}
<h2>@Html.ActionLink("Add Operator", "AddOperator", "Operator")</h2>
<h2>@Html.ActionLink("Display Operator", "mobileOperators", "Operator")</h2>
<h2>@Html.ActionLink("Add Customer", "AddCustomer", "Customer")</h2>
<h2>@Html.ActionLink("Display operators ", "displaymobileoperatorss", "Operator")</h2>
<h2>@Html.ActionLink("Export to excel", "ExportToExcel", "Customer")</h2>





