@model IEnumerable<UniversityPresentationLayer.Models.UniversityModel>

@{
    ViewBag.Title = "ViewUniversities";
}

<h2>ViewUniversities</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.universityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.universityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalColleges)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.universityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.universityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalColleges)
        </td>
        <td>
            @Html.ActionLink("Add College","AddCollege","College")
            
        </td>
    </tr>
}

</table>
