@model IEnumerable<UniversityPresentationLayer.Models.CollegeModel>

@{
    ViewBag.Title = "ViewAllColleges";
}

<h2>ViewAllColleges</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.collegeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.collegeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalStudents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniversityId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.collegeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.collegeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalStudents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UniversityId)
        </td>
  
    </tr>
}

</table>
