@model Medical_Reaserch_Presentation_Layer.Models.DiseaseModel

@{
    ViewBag.Title = "AddDisease";
}

<h2>AddDisease</h2>


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>DiseaseModel</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.LabelFor(model => model.Disease_name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Disease_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Disease_name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.severity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.severity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.severity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cause, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cause, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cause, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Disease_description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Disease_description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Disease_description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

<h2>INSERT DISEASE DETAILS</h2><br />
@*//@Disease_name,@severity,@cause,@Disease_description*@
<form name="myform" action="AddDisease" method="post">

    <label for="dname">Disease name:</label>
    <input type="text" id="dname" name="Disease_name" />
    <br />
    <br />


    <label for="severity">Severity:</label>  
    <select id="severity">
        <option value="high">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
    </select>
    <br />
    <br />

    <label for="cause">Cause:</label>
    <input type="radio" id="ef" name="ExternalFactors" value="ExternalFactors">
    <label for="ef">ExternalFactors</label>
    <input type="radio" id="id" name="InternalDisorders" value="InternalDisorders">
    <t></t><label for="id">InternalDisorders</label><br>
    <br />
    <br />

    <label for="description">Disease Description</label>
    <input type="text" id="description" name="Disease_description"><br><br>
    <br />
    <br />

    <input type="button" value="Add Disease" class="btn btn-default" />
    <input type="button" value="Cancel" method="Home" />

</form>
<br />
<br />
