@model IEnumerable<MVCJuice.Models.JuiceMenuModel>

<p>
    @Html.ActionLink("Create New", "InsertData")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JuiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flavour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JuiceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flavour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            
        </td>
    </tr>
}

</table>
