@model IEnumerable<JuiceMVC.Models.JuiceModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JuiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flavour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JuiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flavour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditJuiceDetails", new { JuiceId = item.JuiceId })

                @Html.ActionLink("Delete", "DeleteJuice", new { JuiceId = item.JuiceId })
            </td>
        </tr>
    }

</table>
<html>
<body style="background-color:khaki; font-family: Verdana, Arial;">
    <form action="" method="post"></form>

</body>
</html>
