@model IEnumerable<CollegeManagementEntities.Student>
    @{ 
        ViewBag.Title = "DisplayStudentsList";
    }

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PercentageObtained)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.College.CollegeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PercentageObtained)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.College.CollegeName)
        </td>

    </tr>
}

</table>
