@model CollegeManagementPresentationLayer.Models.LoginModel
@{
    ViewBag.Title = "LoginAdmin";

}


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>LoginModel</h4>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

        </div>
    }


    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <body style="background-color:beige; font-family: Verdana, Arial;">
        <form action="" method="post"></form>

    </body>*@

<body>
    <form name="myform" method="post" onsubmit="return validateform(this.form)" action="LoginAdmin">
        <br/>
        <br/>
        Name: <input type="text" name="name" id="name"><br /><br />
        Password: <input type="password" name="pass" id="pass"><br /><br />
        <input type="submit" value="login">
    </form>
    </body>
    <body style="background-color:beige; font-family: Verdana, Arial;"></body>
    <span id="showerror" class="text-danger"></span>

    

    <script>
        function validateform(form) {

            var name = document.getElementById("name").value;
            var password = document.getElementById("pass").value;

            if (name == null || name == "") {
                document.getElementById("showerror").innerHTML = "Name field is incorrect";
                return false;
            } else if (password.length < 5) {
                document.getElementById("showerror").innerHTML = "password is incorrect";
                return false;
            } if (form.name.value == "Admin" && form.password.value == "Admin") {
                return true;
            }
            else
                return false;
           
        }
    </script>
