@model IEnumerable<pro_kabbaddi_Presentaton_layer.Models.TeamModel>

@{
    ViewBag.Title = "DisplayTeams";
}

<h2>DisplayTeams</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TEAM_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEAM_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEAM_CITY)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TEAM_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEAM_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEAM_CITY)
        </td>
      
    </tr>
}

</table>
